<div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Powertype</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="ahjhj"
        [(ngModel)]="powertype"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Powerlevel</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="ahjhj2"
        [(ngModel)]="powerlevel"
      />
    </div>
    <div class="form-group">
      <label for="Gender">Gender</label>
      <input
        type="text"
        class="form-control"
        id="Gender"
        name="ahjhj3"
        [(ngModel)]="gender"
      />
    </div>
    <button
      kendoButton
      [primary]="true"
      type="submit"
      (click)="onSubmit()"
      look="flat"
    >
      <span class="k-icon k-i-save"></span>&nbsp;Submit
    </button>
  </form>
  <br />
</div>
<button kendoButton [routerLink]="['']" [primary]="true" look="flat">
  <span class="k-icon k-i-undo"></span>&nbsp;Back
</button>
