<div style="margin-bottom: 2em;">
  <button kendoButton [primary]="true" [routerLink]="['/create-hero']">
    <span class="k-icon k-i-add"></span>&nbsp;Hero
  </button>
</div>
<kendo-grid
  [data]="gridData"
  (edit)="editHandler($event)"
  (remove)="deleteHandler($event)"
>
  <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="powertype" title="Powertype"> </kendo-grid-column>
  <kendo-grid-column field="powerlevel" title="Powerlevel"> </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="id" title="Action">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoGridEditCommand [primary]="true">
        Get hero</button
      >&nbsp;
      <button kendoGridRemoveCommand [primary]="true">
        <span class="k-icon k-i-delete"></span>&nbsp;Delete
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div style="margin-top: 2em;">
  <h1>{{ AHero !== null ? AHero.powerlevel : "" }}</h1>
  <h1>{{ AHero !== null ? AHero.powertype : "" }}</h1>
  <h1>
    {{ AHero !== null ? (AHero.gender === true ? "Male" : "Female") : "" }}
  </h1>
</div>
