<div style="margin-bottom: 2em;">
  <button
    look="flat"
    kendoButton
    [primary]="true"
    [routerLink]="['/create-hero']"
  >
    <span class="k-icon k-i-add"></span>&nbsp;Hero
  </button>
</div>
<kendo-grid
  [kendoGridBinding]="gridData"
  (edit)="editHandler($event)"
  (remove)="open($event)"
  [height]="400"
  [pageSize]="10"
  [sortable]="true"
  [pageable]="true"
>
  <kendo-grid-column field="id" title="ID" tabindex="1"> </kendo-grid-column>
  <kendo-grid-column field="powertype" title="Powertype" tabindex="2">
  </kendo-grid-column>
  <kendo-grid-column field="powerlevel" title="Powerlevel" tabindex="3">
  </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender" tabindex="4">
  </kendo-grid-column>
  <kendo-grid-column title="Action" tabindex="5">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button look="flat" kendoGridEditCommand [primary]="true">
        <span class="k-icon k-i-edit"></span>&nbsp;Get hero</button
      >&nbsp;
      <button look="flat" kendoButton kendoGridRemoveCommand [primary]="true">
        <span class="k-icon k-i-delete"></span>&nbsp;Delete
      </button>
      <kendo-dialog
        title="Confirm Delete"
        *ngIf="opened"
        (close)="close('cancel')"
        [minWidth]="250"
        [width]="450"
      >
        <p style="margin: 30px; text-align: center;">
          Are you sure you want to delete this hero?
        </p>
        <kendo-dialog-actions>
          <button kendoButton (click)="close('no')" look="flat">No</button>
          <button kendoButton (click)="close('yes')" primary="true" look="flat">
            Yes
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div
  style="margin: 2em; text-align: center; background-color: yellowgreen;"
  *ngIf="AHero !== null && toggleUpdateForm === true"
>
  <h1>Update Hero Form</h1>
  <h4 disabled>ID</h4>
  <input type="text" [(ngModel)]="AHero.id" disabled />
  <h4>Powertype</h4>
  <input type="text" [(ngModel)]="AHero.powertype" />
  <h4>Powerlevel</h4>
  <input type="text" [(ngModel)]="AHero.powerlevel" />
  <h4>Gender (1 : male | 0 : femal)</h4>
  <input type="text" [(ngModel)]="AHero.gender" />
  <br />
  <br />
  <div>
    <button kendoButton [primary]="true" (click)="onEditHero()" look="flat">
      Update
    </button>
    &nbsp;
    <button
      kendoButton
      [primary]="true"
      (click)="this.toggleUpdateForm = false"
      look="flat"
    >
      Close
    </button>
  </div>
  <br />
</div>
