<div style="margin-bottom: 2em;">
  <button kendoButton [primary]="true" [routerLink]="['/create-hero']">
    <span class="k-icon k-i-add"></span>&nbsp;Hero
  </button>
</div>
<kendo-grid
  [kendoGridBinding]="gridData"
  (edit)="editHandler($event)"
  (remove)="deleteHandler($event)"
  [height]="400"
  [pageSize]="10"
  [sortable]="true"
  [pageable]="true"
>
  <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="powertype" title="Powertype"> </kendo-grid-column>
  <kendo-grid-column field="powerlevel" title="Powerlevel"> </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="id" title="Action">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoGridEditCommand [primary]="true">
        Get hero</button
      >&nbsp;
      <button kendoGridRemoveCommand [primary]="true">
        <span class="k-icon k-i-delete"></span>&nbsp;Delete
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div
  style="margin-top: 2em; text-align: center; background-color: blueviolet;"
  *ngIf="AHero !== null && toggleUpdateForm === true"
>
  <h1>Update Hero Form</h1>
  <h4 disabled>ID</h4>
  <input type="text" [(ngModel)]="AHero.id" disabled />
  <h4>Powertype</h4>
  <input type="text" [(ngModel)]="AHero.powertype" />
  <h4>Powerlevel</h4>
  <input type="text" [(ngModel)]="AHero.powerlevel" />
  <h4>Gender (1 : male | 0 : femal)</h4>
  <input type="text" [(ngModel)]="AHero.gender" />
  <br />
  <br />

  <div>
    <button kendoButton [primary]="true" (click)="onEditHero()">Update</button>
    &nbsp;
    <button
      kendoButton
      [primary]="true"
      (click)="this.toggleUpdateForm = false"
    >
      Close
    </button>
  </div>
</div>
